.nav-container {
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-flow: space-between;
    padding: 1em;
    box-shadow: 0 5px 15px 0 rgba(46,61,73,.12);
}

.nav-container img {
    color: #6654FB;
}

.nav-container {
    color: #6654FB;
}

