.content {
    background: var(--app-info-color);
    height: 100vh;
    width: 100%;
    margin: 0;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.main h1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    color: white;
}

.main p {
    text-align: center;
    font-size: 1.1rem;
    color: white;
}

.main button {
    margin-top: 5%;
    width: 90%;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    background: white;
    border: 3px white solid;
    color: var(--app-primary-color);
    padding: 1rem 1.5rem;
    cursor: pointer;
    /* transition: background 250ms, color 250ms; */
}

@media screen and (min-width: 550px) {
    .main h1 {
        font-size: 3rem;
        letter-spacing: 0.5rem;
    }

    .main p {
        font-size: 1.3rem;
    }

    .main button {
        width: 70%;
        padding: 2% 0;
    }
}

@media screen and (min-width: 800px) {
    .main h1 {
        font-size: 4rem;
        letter-spacing: 0.6rem;
    }

    .main p {
        font-size: 1.5rem;
    }

    .main button {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .main {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}